/* Reset and General Styles */
body {
  font-family: 'PT Sans', sans-serif;
  line-height: 1.6;
  color: #444;
  margin: 0;
  padding: 0;
}

.resume-download-button{
        position: absolute;
        right: 20px;
        cursor: pointer;
}
a {
  color: #3498db;
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Header */
/* Header */
.header {
  position: relative;
  height: 60vh;
  overflow: hidden;
  padding-top: 70px; /* Add padding to the top to avoid overlapping with the navbar */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('path/to/your/image.jpg') center/cover;
  z-index: -1;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  text-align: center;
  margin-top: 20px;
  color: #fff;
}

.title h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.title .sub-title {
  font-size: 1.5em;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 768px) {
  .header {
    height: 40vh;
  }

  .profile-image {
    width: 100px;
    height: 100px;
  }

  .title h1 {
    font-size: 2em;
  }

  .title .sub-title {
    font-size: 1em;
  }
}


/* About Me Section */
.about {
  background: #f9f9f9;
  padding: 75px 20px;
}

.about .content {
  text-align: center;
}

.about h2 {
  color: #3d3d3d;
  font-size: 2.5em;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 1s, transform 1s;
}

.about .aboutTitleVisible {
  opacity: 1;
  transform: translateY(0);
}

.about p {
  font-size: 1.25em;
}

/* Timeline */
.timeline ul {
  background: #456990;
  padding: 50px 0;
}

.timeline ul h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}

.timeline ul li {
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #F45B69;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 10px;
  background: #F45B69;
  opacity: 0;
  transform: translateX(-200px);
  transition: opacity 0.5s, transform 0.5s;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #F45B69 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #F45B69;
}

.timeline ul li.in-view div {
  opacity: 1;
  transform: none;
}

.time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* Skills Section */

.skills {
  background: #f9f9f9;
  color: #444;
  padding: 80px 20px;
  text-align: center;
}

.skills h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
  color: #3d3d3d;
}

.skills .content {
  max-width: 1200px;
  margin: 0 auto;
}

.development-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-bar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.skills-bar-container li {
  flex: 1 0 calc(33.333% - 20px); /* Each skill block will have a width of one-third minus margins */
  margin: 10px;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.skills-bar-container li:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.skill-info {
  display: flex;
  justify-content: space-between;
  color: #3c3c3c;
  font-weight: bold;
  margin-bottom: 8px;
}

.skill-name {
  flex: 1;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
}

.skill-level {
  flex: 1;
  text-align: right;
  font-size: 0.8em;
  font-family: 'Montserrat', sans-serif;
}

.progressbar {
  background: rgba(128, 180, 248, 0.3);
  height: 15px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.progressbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(71, 129, 255);
  animation: progressAnimation 10s ease-in-out forwards;
}

@keyframes progressAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.linkedin-link {
  margin-top: 30px;
  text-align: center;
}

.linkedin-link a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0077b5;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.linkedin-link a:hover {
  background-color: #005f91;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 768px) {
  .skills-bar-container li {
    flex: 0 0 calc(100% - 20px); /* Each skill block will take up 100% width minus margins on smaller screens */
  }

  .skills-bar-container {
    justify-content: center; /* Center the skills on smaller screens */
  }
}

/* Hover effect on skills, education, and project blocks */
.skills .skills-bar-container li:hover,
.education .education-block:hover,
.projects .project-block:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}


/* Trainings Section */
.trainings {
  background: #f9f9f9;
  color: #444;
  padding: 80px 20px;
  text-align: center;
}

.trainings h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
  color: #3d3d3d;
}

.trainings .training-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.trainings .training-block {
  flex: 1;
  max-width: 400px;
  margin: 10px;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.trainings .training-block h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #3498db;
}

.trainings .training-block p {
  font-size: 1.1em;
  color: #666;
}

.trainings .training-block:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

/* Projects Section */
.projects {
  background: #f9f9f9;
  color: #444;
  padding: 80px 20px;
  text-align: center;
}

.projects h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
  color: #3d3d3d;
}

.projects .project-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects .project-block {
  flex: 1;
  max-width: 300px;
  margin: 10px;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s;
}

.projects .project-block h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #3498db;
}

.projects .project-block p {
  font-size: 1.1em;
  color: #666;
}

.projects .project-block a {
  color: #3498db;
  text-decoration: none;
}

.projects .project-block a:hover {
  text-decoration: underline;
}

.projects .project-block:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.projects .project-link {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Add some space between the project description and the button */
}

.projects .project-link button {
  background-color: #3498db; /* Use the same color as the links */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.projects .project-link button:hover {
  background-color: #2980b9; /* Darker shade on hover */
}


/* Contact Section */
.contact {
  background: #3498db;
  color: #fff;
  padding: 80px 20px;
  text-align: center;
}

.contact h1 {
  font-size: 2.5em;
  margin-bottom: 40px;
}

.infotext a {
  color: #fff;
  margin: 0 10px;
  transition: opacity 0.2s;
}

.infotext a:hover {
  opacity: 0.7;
}

.contact hr {
  border: 0;
  height: 5px;
  width: 150px;
  margin: 20px auto;
  background-image: linear-gradient(90deg, #ff6464, #ffbb64, #64ff64);
}

#icon {
  font-size: 1.2em;
  margin-right: 5px;
}

/* Navbar */
/* Navbar */
.navbar {
  background: #3498db;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 10px 20px;
  display: flex; /* Add display:flex to create a flex container */
  justify-content: center; /* Center the flex items horizontally */
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%; /* Set the width to 100% to fill the entire navbar */
}

.navbar li {
  margin: 0 px;
  flex: 1; /* Make each list item take up equal space */
  text-align: center; /* Center the text horizontally */
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3em;
  transition: opacity 0.2s;
}

.navbar a:hover {
  opacity: 0.7;
}
/* Add a transition to the navbar links */
.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
  transition: background-color 0.3s, opacity 0.2s;
  padding: 8px 16px; /* Add some padding to the links for a better hover effect */
}

/* Change the background color on hover */
.navbar a:hover {
  background-color: #2167a9; /* Change to the desired hover background color */
  opacity: 0.9; /* Reduce the opacity slightly on hover */
}


@media screen and (max-width: 768px) {
  .development-wrapper,
  .skills-bar-container li {
    max-width: 100%;
  }
}


/* Education Section */
.education {
  background: #f9f9f9;
  color: #444;
  padding: 80px 20px;
  text-align: center;
}

.education h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
  color: #3d3d3d;
}

.education .education-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.education .education-block {
  flex: 1;
  max-width: 300px;
  margin: 10px;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.education .education-block h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #3498db;
}

.education .education-block p {
  font-size: 1.1em;
  color: #666;
}

.education .education-block:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 768px) {
  .education .education-blocks {
    justify-content: flex-start;
  }

  .education .education-block {
    max-width: 100%;
  }
}
.project-link {
  margin-top: 10px;
}

.project-link a {
  color: #3498db;
  text-decoration: none;
  display: inline-block;
  max-width: 100%;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.project-link a:hover {
  text-decoration: underline;
}

/* CSS */
.about h2 {
  /* ... Your existing styles for the "Hi There!" greeting ... */
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 1s, transform 1s;
}

.about .aboutTitleVisible {
  opacity: 1;
  transform: translateY(0);
}

/* Add styles to the "To view" buttons */
